.App {
  text-align: center;
}

.div {
  display: inline-block;
  margin-left: 40px;
  color: black;
}

.divDetails {
  border: 2px solid black;
  border-radius: 5%;
  margin: 0 auto;
  width: 300px;  
}
  
.divMain {
  text-align: center;  
}

.imgLocation {
  display: inline-block;
  width: 150px;  
}

figure {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}
figcaption {
  margin: 0 auto;
  text-align: center;
}

.imgPokemon {
  float: right;  
  height: 70px;
  margin-right: 20px;
  width: 70px;  
}

.not-found-image {
  width: 350px;
}

.spanLink {
  margin-left: 15px;
  margin-right: 15px;
}

.spanNotFound {
  margin-top: 10px;
  display: block;  
  font-size: 30px;
  padding-bottom: 50px;
  
}